@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&family=Poppins:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
  /* font-family: "Poppins", sans-serif; */
  font-family: 'Roboto', sans-serif;
}
:root{
  --first-color: #014780;
  --second-color: #6ED1E0;
  --text-one:#ffffff;
  --text-two: #6E89E0;

}
.side-link{
  color: var(--first-color);
}
.side-link:hover{
  color: var(--text-two);
}
.fnt2 {
  font-family: "Cormorant Garamond", serif;
  font-size: 60px;
  font-weight: bold;
  
}
.aw_button{
  background-color: var(--text-one);
  color: var(--first-color);
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  border: 0px solid var(--first-color);
  width: 100%;
}
.aw_button:hover{
background-color: var(--text-one);
color: var(--first-color);
padding: 6px;
/* border:1px solid var(--first-color); */
transition: .8s;
}
.aw_head {
  color: var(--first-color);
  border-left: var(--first-color) 5px solid;
  padding-left: 15px;
  margin-bottom: 20px;
}
.aw_head1 {
  color: var(--first-color);
  font-weight: bold;
  border-bottom: 8px solid var(--first-color);
  width: fit-content;
  margin: 0 auto;
}
.aw_clr {
  color: var(--first-color);
}
.aw_bg {
  background-color: var(--first-color);
  color: aliceblue;
}
.fnt3 {
  font-family: "Cormorant Garamond", serif;
  font-size: 40px;
  font-weight: bold;
}
@media screen and (max-width: 600px) {
  .fs1 {
    width: fit-content;
    border-top: 2px solid var(--text-one);
    border-bottom: 2px solid var(--text-one);
    font-size: 40px;
    font-weight: 900;
    margin: 0 auto;
  }
}
.fs1 {
  width: fit-content;
  border-top: 2px solid var(--first-color);
  border-bottom: 2px solid var(--first-color);
  font-size: 40px;
  font-weight: 900;
  margin: 0 auto;
  padding-top: 5%;
  font-weight: bold;
}
.fs2 {
  width: fit-content;
  font-size: 80px;
  font-weight: 700;
  margin: 0 auto;
  font-weight: bold;
}
.fs3 {
  width: fit-content;
  font-size: 80px;
  font-weight: 700;
  margin: 0 auto;
  padding-top: 10%;
}
.image {
  background-image: url(../../assets/img/awc.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--first-color);
}

.aw-vitamine {
    position: relative;
    background: var(--first-color)60;
    overflow: hidden;
}
.aw-vitamine::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
    background-image: url(../../assets/img/vitaminbg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
  background-position: center center;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
.aw_home {
    position: relative;
    background: var(--first-color)60;
    overflow: hidden;
}
.aw_home::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
    background-image: url(../../assets/img/awc_05.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
  background-position: center center;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
.img02 {
  transform: translateY(80px) translateX(140px);
}
.container1 {
  height: 600px;
}
/*  */
.business_p {
  font-size: 40px;
  /* font-weight: 700; */
  font-family: "Cormorant Garamond", serif;
}
.event_perfect {
  margin: 0 0 100px 0;
}
.aw_card {
  background-color: var(--first-color);
  padding: 25px;
  border-radius: 25px;
  color: var(--second-color);
  box-shadow: 0 0px 5px 5px rgba(222, 220, 220, 0.878);
}
.aw_card:hover {
  color: var(--first-color);
  background-color: var(--second-color);
  transition: .9s;
  box-shadow: 0 0px 5px 5px var(--first-color);

}

.aw_midtitle {
  background-color: var(--first-color);
  padding: 20px 0 20px 0;
  font-size: 40px;
  color: var(--second-color);
  font-family: "Cormorant Garamond", serif;
  font-weight: bold;
}
.aw_scard{
    margin: 50px 0 50px 0;
    padding: 30px;
    background-color: rgb(252, 254, 255);
    
}
.aw_scard img{
   border-radius: 10px 10px 10px 0;
}
